<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cobertura medica, cotizador online coberturas, obras sociales, plan de salud, cotiza tu plan de salud">
    <title>Cotiza tu Cobertura Medica Online | Coberturas Medicas Argentinas</title>
    <meta name="description" content="En Tu Plan B te ofrecemos un cotizador online que te permite al instante conocer tu prepaga ideal. Compara entre varias coberturas y elegi hoy la tuya.">
    <link rel="stylesheet" href="style.css"> 
    <link rel="icon" href="https://tuplanb.com.ar/wp-content/uploads/2024/03/5-1.png" type="image/x-icon">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FMN9ZCTS83"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FMN9ZCTS83');
    </script>   
</head>
<body>

   <nav>
        <div class="logo">
            <a href="https://tuplanb.com.ar/"><img src="https://tuplanb.com.ar/wp-content/uploads/2024/03/5-1.png" alt="Logo"></a>
        </div>
        <div class="links">
            <a href="https://tuplanb.com.ar/#cotizadorancla">¿Cómo funciona?</a>
            <a href="https://tuplanb.com.ar/#preguntasancla">Preguntas Frecuentes</a>
            <a href="https://tuplanb.com.ar/#nosotrosancla">Sobre Nosotros</a>
        </div>
        <div class="mobile-menu">
            <div class="menu-icon" onclick="toggleMenu()">
                <img src="https://res.cloudinary.com/dj3akdhb9/image/upload/v1713151490/icons8-menu-50_ivysse.png" alt="Menu">
            </div>
            <div class="menu" id="menu">
                <span class="close-icon" onclick="toggleMenu()">X</span>
              <a href="https://tuplanb.com.ar/#cotizadorancla">¿Cómo funciona?</a>
            <a href="https://tuplanb.com.ar/#preguntasancla">Preguntas Frecuentes</a>
            <a href="https://tuplanb.com.ar/#nosotrosancla">Sobre Nosotros</a>
            </div>
        </div>
    </nav>
   <h1 class="title">¡Compará y elegí el  <span style="color:#FE705A;">plan perfecto!</span> </h1>
   
<section class="form-container">
  
 <form class="form-cotiza" action="coberturas" method="POST">
        <div class="select-cantidad">
            <label for="">Necesito una cobertura para...</label>
            <div class="custom-select" id="select-cantidad">
                <div class="divoption" data-value="mi">Mi</div>
                <div class="divoption" data-value="pareja">Mi Pareja y Yo</div>
                <div class="divoption" data-value="hijos">Mis hijos y yo</div>
                <div class="divoption" data-value="familia">Mi familia y yo</div>
            </div>
              <input type="hidden" name="tipo" id="tipo" value="">
            <span for="edad">Tengo</span><input type="number" name="edad"  min="17" max="100" id="edad" required><span>años</span>

        </div>
        <div class="condicional">
            <div class="pareja">
                <span for="edadPareja">Mi pareja tiene</span><input type="number" name="edadPareja" id="" min="17" max="100"><span>años</span>
            </div>
            <div class="hijos">
                <div class="cantidad-hijos">
                    <label for="">Cantidad de hijos menores de 21 años</label>
                    <input type="number" name="hijosMenores" id="hijosMenores" min="0" max="10">
                </div>
                <div class="cantidad-hijos">
                    <label for="">Cantidad de hijos mayores de 21 años</label>
                    <input type="number" name="hijosMayores" id="hijosMayores" min="0" max="10">
                </div>
            </div>
            <div class="familia">
                <div>
                    <span for="">Mi pareja tiene</span><input type="number" name="edadPareja" id=""><span>años</span>
                </div>
             
                <div class="hijos">
                    <div class="cantidad-hijos">
                        <label for="">Cantidad de hijos menores de 21 años</label>
                        <input type="number" name="hijosMenores" id="" min="0" max="10">
                    </div>
                    <div class="cantidad-hijos">
                        <label for="">Cantidad de hijos mayores de 21 años</label>
                        <input type="number" name="hijosMayores" id="" min="0" max="10">
                    </div>
                </div>
            </div>


        </div>
        <div>
            <span>Vivo en </span><select name="localidad" id="select-localidad" required>
                <option  id="placeholder" value="base" disabled selected>Selecciona una opción</option>
                
                <option value="ROSARIO">Rosario y zonas aledañas</option>
                <option value="ENTRE RIOS">Entre Rios</option>
                <option value="BUENOS AIRES">Buenos Aires</option>
                <option value="SANTA FE">Santa Fe</option>
                <option value="CORDOBA">Cordoba</option>
                <option value="TIERRA DEL FUEGO">Tierra del Fuego</option>
                <option value="SANTA CRUZ">Santa Cruz</option>
                <option value="CHUBUT">Chubut</option>
                <option value="RIO NEGRO">Rio Negro</option>
                <option value="SAN LUIS">San Luis</option>
                <option value="OTRA">Resto del Pais</option>
            </select>
        </div>
        

        <div class="localidad">
            <label for="">Escriba Su localidad</label>
            <input type="text" name="localidad" id="localidad">
        </div>
        
        <div>
            <span>Trabajo como</span>
            <select name="tributo" id="selectAfip" required>
                <option id="placeholder" value="0" disabled>Selecciona una opción</option>
                <option value="particular" selected>Particular</option>
                <option value="monotributo">Monotributista</option>
                <option value="sueldo">En relacion de dependecia</option>
            </select>
        </div>
       
        <div class="sueldo-bruto">
            <label for="">Coloque su sueldo bruto</label>
            <input type="number" id="sueldo" name="sueldoBruto">
        </div>
        
        <div class="monotributista">
            <select name="monutributo" id="">
                <option id="placeholder" value="vacio" disabled selected>Selecciona una opción</option>
                <option value="Categorias A,B,C">Categorias A,B,C</option>
                <option value="Categorias D">Categorias D</option>
                <option value="Categorias E">Categorias E</option>
                <option value="Categorias F">Categorias F</option>
                <option value="Categorias G">Categorias G</option>
                <option value="Categorias H">Categorias H</option>
                <option value="Categorias I">Categorias I</option>
                <option value="Categorias J">Categorias J</option>
                <option value="Categorias K">Categorias K</option>
            </select>
            <input type="number" id="tipo-monutributo" disabled>
        </div>

        <input type="submit" value="Buscar y Comparar Planes">

    </form>
    <button class="otra-consulta">Otra consulta</button>
</section>
   
    <div id="planesDiv">
            {{#if mostrarBoton}}
            
    <div class="consulta-container">
        <button class="mas-info-btn" onclick="window.location.href = `https://wa.me/+5493413151350?text=Buenas%20tardes,%20quisiera%20averiguar%20sobre%20la%20cobertura`">Consultar Valores</button>
    </div>
{{else}}
 {{#if VerMas}}
         <img src="https://res.cloudinary.com/dj3akdhb9/image/upload/v1733683383/icons8-flecha-ampliar-100_xu0zgn.png" alt="flecha" style="width: 60px; height:auto; object-fit:contain; margin:auto">
        {{/if}}
    <div id="planesDiv">
       
        {{#each CoberturasPropuestas}}

            <div class="cobertura">
                
                <h2 class="nombre-comp">{{plan}}</h2>
                <img class="foto-comp" src="" alt="">
                <div>
                    
                    <p class="plan">{{NombrePlan}}</p>
                    {{!-- datos ocultos --}}
                    <p style="display: none;" class="edad">{{edad}}</p>
                    <p style="display: none;"  class="tipo">{{tipo}}</p>
                    <p style="display: none;"  class="sueldo">{{sueldo}}</p>   
                    <p style="display: none;"  class="monutributo">{{monutributo}}</p>
                    <p style="display: none;"  class="localidad">{{localidad}}</p>   
                    <p style="display: none;"  class="edad-pareja">{{edadPareja}}</p>
                    <p style="display: none;"  class="tributo">{{tributo}}</p>
                    <p style="display: none;"  class="hijos">{{hijos}}</p>



                    <p>{{{descripcion}}}</p>
                    <p class="costo">{{valor}}</p>
                       <!-- Checkbox para comparación -->
                    <div>
                        <input type="checkbox" class="comparar-checkbox" value="{{NombrePlan}}" onchange="handleCompareCheckbox(this)">
                        <label>Comparar</label>
                    </div>

                </div>
                    
                    <button class="mas-info-btn" onclick="window.location.href= {{ws}}">Más Info</button>   
                
            </div>
        {{/each}}
      
    </div>
          <!-- Botón para comparar -->
                  <div style="text-align: center; margin-top: 20px;">
                      <button id="compararBtn" disabled>Comparar</button>
                  </div>

                  <!-- Contenedor para mostrar la tabla de comparación -->
                  <div id="comparativa"></div> 
{{/if}}
    </div>

     <div class="accordion">
        <h2 class="faq">Preguntas Frecuentes</h1>
        <div class="accordion-item">
          <button class="accordion-header">¿Qué ventajas ofrece usar nuestro cotizador de cobertura médica?</button>
          <div class="accordion-content">
            <p>Nuestro cotizador te permite comparar diferentes opciones de cobertura médica de forma rápida y sencilla. Podrás encontrar el plan que mejor se adapte a tus necesidades y presupuesto en minutos.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Qué tipos de cobertura médica están disponibles en tu región?</button>
          <div class="accordion-content">
            <p>Las coberturas médicas que ofrecemos varían según tu ubicación. Por eso, al usar nuestro cotizador, te pediremos información sobre dónde resides para mostrarte las opciones disponibles en tu zona.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Qué incluye un plan de medicina prepaga estándar?</button>
          <div class="accordion-content">
            <p>Un plan estándar generalmente cubre consultas médicas, estudios de diagnóstico, internaciones y acceso a farmacias con descuentos. Algunos planes incluyen beneficios adicionales como odontología y oftalmología.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Puedo cambiar de plan de salud una vez que he elegido uno?</button>
          <div class="accordion-content">
            <p>Sí, es posible cambiar de plan. Dependiendo de la compañía, puedes hacerlo tras cumplir ciertos períodos mínimos de permanencia o al actualizar tus necesidades de cobertura.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Cómo comparo coberturas de diferentes prepagas?</button>
          <div class="accordion-content">
            <p>Con nuestro cotizador, solo necesitas ingresar tus datos y preferencias. Te mostraremos un listado claro con opciones para que compares precios, beneficios y niveles de cobertura.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Qué diferencias existen entre una obra social y una medicina prepaga?</button>
          <div class="accordion-content">
            <p>Las obras sociales suelen ser servicios obligatorios que dependen de aportes laborales, mientras que la medicina prepaga es un servicio privado que ofrece una mayor personalización y beneficios adicionales.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Es posible incluir a mi familia en el mismo plan de salud?</button>
          <div class="accordion-content">
            <p>¡Por supuesto! Muchos planes ofrecen opciones familiares que pueden incluir cónyuge, hijos y otros dependientes con precios y beneficios adaptados.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">¿Cómo puedo obtener ayuda si tengo dudas durante el proceso de cotización?</button>
          <div class="accordion-content">
            <p>Si tienes preguntas, puedes comunicarte con nosotros a través de nuestro número de WhatsApp. Estamos disponibles para ayudarte en cada paso del proceso.</p>
          </div>
        </div>
      </div>

        <div class="footer-container">
			<div>
			<div>
				Web desarrollada por <a style="color: #CCCCCC;" href="https://duwohdevelopers.com" target="_blank">Duwoh Developers</a> | Copyright @2024						
            </div>
			</div>
		</div>
    

    <script src="index.js"></script>
</body>
</html>
